
.cardBackGround{
    background-color: #B0695A;
}

.title{
    color: #f4f4f4;
    font-size: 18px;
}

.titleSecond{
   
    color: white;
    font-size: 15px;
}
.text{
    opacity: 0.7;
   
}
.randomClass{
    animation: myfirst 5s ;
}

@keyframes myfirst {
    0%   { left: -100px; top: 0px;}
     25%   { left: 200px; top: 0px;}
      50%  {left: 200px; top: 0px;}
       100%  { left: 0px; top: 0px;}

}