<mat-card  [ngStyle]="{'background-color':color1}"
[@changeState]="state" (click)="changeState()">
<div >
    
    <div  style="padding-left: 10%">
        <span class=" row title text" >{{dayofweek}}</span>
        <span class="row title">High:&nbsp;{{temperaturehigh}}&nbsp;celcius</span>
        <span class="row title">Low:&nbsp;{{temperaturelow}}&nbsp;celcius</span>
    <div  *ngIf="state == 'active'">
        <div  class=" row titleSecond">{{summary}}</div>
        <div class=" row titleSecond">Wind:&nbsp;{{windSpeed}}</div>
        <div class=" row titleSecond">humidity:&nbsp;{{humidity}}</div>
    </div>
  </div>
  <!-- <div [@secondState]="secondstate" class="row" *ngIf="state == 'active'">
    <img src="../../../../assets/icons/climacons-master/SVG/Cloud-Drizzle.svg">
  </div> -->
</div>

</mat-card>
