.bg {
    /* The image used */
    background-image: url("../assets/images/sample.jpg");
    /* background: salmon; */

    /* Full height */
    height: 100%; 
    opacity: 0.65;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}