<div class="card">
  <img src="assets/images/sample.jpg" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div class="row">
    <div class="col"> <a href="#"><i class="fa fa-dribbble"></i></a>   </div>
      <div class="col"><a href="#"><i class="fa fa-twitter"></i></a>   </div>
        <div class="col"> <a href="#"><i class="fa fa-linkedin"></i></a>  </div> 
          <div class="col"><a href="#"><i class="fa fa-facebook"></i></a>  </div> 
  </div>
  <p><button>Contact</button></p>
</div>